<div class="join-block text-center">
  <div class="container">
    <h3> {{data.title}} </h3>
    <div class="description"> {{data.description|raw}} </div>
    <a href="{{data.link}}" class="btn btn-info">  {{data.button_title}} </a>
  </div>
</div>
