@import "~@/scss/base";

.join-block {
  position: relative;
  padding-top: 74px;
  padding-bottom: 58px;
  .container {
    max-width: 1100px;
  }
  .description {
    font-size: 1.8rem;
    margin-top: 52px;
    margin-bottom: 50px;
    white-space: pre-line;
  }
}

@include mobile {
  .join-block {
    padding-top: 28px;
    padding-bottom: 30px;
    .description {
      font-size: 1.4rem;
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
}
