@import "~@/scss/base";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  .page-number {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);;
    border: 1px solid transparent;
    transition: all .3s;
    border-radius: 2px;
    @include roboto();
    &.current {
      border-color: $info;
      color: $info;
      cursor: default;
      pointer-events: none;
    }
    &.prev,
    &.next {
      border-color: #dbdbdb;
      &:hover {
        border-color: $color-blue;
        color: $color-blue;
      }
      em {
        pointer-events: none;
      }
    }
    &.disabled {
      pointer-events: none;
      border-color: transparent !important;
      color: #dbdbdb !important;
    }
  }
  a:hover {
    border-color: $color-blue;
  }
}
