@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);
  @if $type==string {
    $class: $min;
    @if $class==xs {
      @media (max-width: 575px) {
        @content;
      }
    } @else if $class==sm {
      @media (max-width: 767px) {
        @content;
      }
    } @else if $class==md {
      @media (max-width: 991px) {
        @content;
      }
    } @else if $class==lg {
      @media (max-width: 1199px) {
        @content;
      }
    } @else if $class==sm-up {
      @media (min-width: 576px) {
        @content;
      }
    } @else if $class==md-up {
      @media (min-width: 768px) {
        @content;
      }
    } @else if $class==lg-up {
      @media (min-width: 992px) {
        @content;
      }
    } @else if $class==hlg-up {
      @media (min-width: 1200px) {
        @content;
      }
    } @else if $class==tablet {
      @media (min-width: 768px) and (max-width: 1199px) {
        @content;
      }
    } @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg, mxs, msm, mmd, mlg";
    }
  } @else if $type==number {
    $query: 'all' !default;
    @if $min !=0 and $max !=0 {
      $query: '(min-width: #{$min}) and (max-width: #{$max})';
    } @else if $min !=0 and $max==0 {
      $query: '(min-width: #{$min})';
    } @else if $min==0 and $max !=0 {
      $query: '(max-width: #{$max})';
    }
    @media #{$query} {
      @content;
    }
  }
}

@mixin clearfix() {
  //
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}


@mixin list-space($value) {
  @include not-last {
    margin-right: $value;
  }
}

@mixin list-enter($value) {
  @include not-last {
    margin-bottom: $value;
  }
}

@mixin multi-row($row, $lineheight) {
  height: ($row * $lineheight) + px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
  line-height: $lineheight + px;
}

@mixin full-viewport {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin open-sans() {
  font-family: $font-family-open-sans;
}

@mixin roboto() {
  font-family: $font-family-roboto;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}