@import "~@/scss/base";


.top-banner--training-overview-listing-detail {
  background: #EEECEC;
  padding-bottom: 14.625vw;
  &-image {
    padding-top: 0;
    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  .lead {
    margin-top: 16px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .top-banner-image {
    padding-top: 0;
    text-align: center;
  }
}

@include breakpoint($min: $breakpoint-xl) {
  .top-banner--training-overview-listing-detail {
    padding-top: 10px;
    padding-bottom: 7.9vw;
    .top-banner-text {
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      margin-bottom: 30px;
    }
    h1 {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .lead {
      margin-top: 0;     
      flex-basis: 60.5%;
      flex-shrink: 0;
      padding-right: 30px;
    }
    .top-banner-image {
      flex-basis: 39.5%;
      flex-shrink: 0;
      padding-right: 9px;
    }
  }
}
