<div class="video-block">
	<div class="container">
		<div class="videoWrapper">
        <video poster="{{data.thumbnail}}" controls>
          <source src="{{data.video_url}}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
		</div>
	</div>
</div>
