{% import "@views/macros/forms/forms.twig" as forms %}

<section class="container">
	<div class="section-top">
		<h2>Components</h2>
	</div>

	<div class="row">
		<div class="container">
			<h3 class="text-brand">Contact modal</h3>
      {% include "@views/components/modals/modal-contact.twig" %}
		</div>
	</div>
</section>
