{% import "@views/macros/forms/forms.twig" as forms %}

<section class="container">
	<div class="section-top">
		<h2>Form elements</h2>
	</div>

	<form class="row">
		<div class="col-md-6">
			<div class="form-group">
				<div class="form-field">
					{{ forms.input({id: 'name',name: 'name', value:'', placeholder: 'Name', type: 'text', autocomplete: false, required: true})}}
				</div>
			</div>
			<div class="form-group">
				<div class="form-field">
					{{ forms.input({id: 'email',name: 'email', value:'', placeholder: 'Email', type: 'text', autocomplete: false, required: true})}}
				</div>
			</div>

			<div class="form-actions">
				<button class="btn btn-brand" type="submit">Send Contact</button>
			</div>
		</div>
	</form>
</section>
