<section class="container typography-section" id="section-typography">
	<div class="section-top">
		<h2>Typography</h2>
		<h4 class="color-blue">Font used: Open Sans</h4>
	</div>
	<div class="row">
		<div class="col">64px  /  75px line height  /  0% spacing</div>
		<div class="col">
			<h1>Heading 1</h1>
		</div>
	</div><br>
	<div class="row">
		<div class="col">36px  /  49.03px line height  /  0% spacing</div>
		<div class="col">
			<h2>Heading 2</h2>
		</div>
	</div><br>
	<div class="row">
		<div class="col">24px  / 32.68px line height  /  0% spacing</div>
		<div class="col">
			<h3>Heading 3</h3>
		</div>
	</div><br>
	<div class="row">
		<div class="col">18px  /  24.51px line height  /  0% spacing</div>
		<div class="col">
			<h4>Heading 4</h4>
		</div>
	</div><br>
	<div class="row">
		<div class="col">18px  /  24.519 line height  /  0% spacing</div>
		<div class="col">
			lead
		</div>
	</div><br>
	<div class="row">
		<div class="col">14px  /  16.41px line height  /  0% spacing</div>
		<div class="col">
			<p>Paragraph</p>
		</div>
	</div><br>
	<div class="row">
		<div class="col">14px  /  16.41px line height  /  0% spacing</div>
		<div class="col">
			<p class="caption">caption</p>
		</div>
	</div>
</section>
