<table bgcolor="#CCC" style="font-family:'Helvetica',san-serif;color:#444" width="100%">
	<tbody>
		<tr>
			<td style="padding: 0 20px;">
				<table align="center" bgcolor="white" cellpadding="0" cellspacing="0" style="margin-top:20px;margin-bottom:20px;border-radius:7px;width:100%;max-width:550px">
					<tbody>
						<tr bgcolor="#1C3054" height="100">
							<td style="padding:20px 30px;border-radius:7px 7px 0px 0px">
								<a href="" target="_blank">
									<img alt="logo" border="0" width="90px" height="35px" style="float:left" src="{{ global.theme_options.website.white_header_logo }}" class="logo">
								</a>
							</td>
						</tr>
						<tr>
							<td style="padding: 30px 10px 10px;">
                <b>From:</b> Nguyen Quoc Dai Le
							</td>
						</tr>
            <tr>
							<td style="padding:10px">
                <b>Subject:</b> Training Overview
							</td>
						</tr>
            <tr>
							<td style="padding:10px">
                <b>Message:</b>
                <p style="padding-top:10px;">Phone : You_phone_here</p>
                <p>Company : You_company_here</p>
                <p>Country : You_country_here</p>
                <p>Email : You_email_here</p>
							</td>
						</tr>
						<tr>
              <td style="padding:20px 10px;font-size:13px;color:#5c5c5c;text-align:center">
								LEC2 © 2020. All rights reserved.
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
