@import "~@/scss/base";

.contact-page {
  .contact-form-block {
    position: relative;
    z-index: 2;
    margin-top: -10.5vw;
    padding-top:200px;
    margin-bottom: 92px;
    .container {
      max-width: 924px;
    }
  }
  .captcha {
    text-align: center;
    margin-bottom: 42px;
  }
}

@include tablet-down {
  .contact-page {
    .top-banner.top-banner-title {
      padding-top: 5vw;
      padding-bottom: 12vw;
    }
  }
}

@include breakpoint($min: 768px, $max:1400px) {
  .contact-page .contact-form-block {
    padding-top: 11vw;
  }
}

@include mobile {
  .contact-page {
    .contact-form-block {
      padding-left: 35px;
      padding-right: 35px;
      margin-bottom: 40px;
      margin-top: -12vw;
      padding-top: 12vw;      
    }
  }
}
